$primary-color: #CDB885;
$secondary-color: #9C9073;
$switch-color: #E5E5E5;
$text-labels-color: #B5B5B5;
$text-color: #393939;

$white: #F6FCFF;
$green: #32C787;
$yellow: #FFB22B;
$red: #EC0000;

$sg-a: #972929;
$sg-a-light: #D93B3B;

$sg-b: #303980;
$sg-b-light: #434ea2;

$sg-c: #00ad87;
$sg-c-light:#00caa7; 

$sg-s: #523357;
$sg-s-light: #5E3C64;

